@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

*{
  font-family: DM Sans;
}

/* .cardYear{
  font-family: DM Mono;
  @apply text-black dark:text-white
} */

.NavBtn{
  @apply hover:bg-neutral-800 px-2 py-1 rounded-lg 
}


.paragraph{
@apply text-black dark:text-white sm:text-sm md:text-base lg:text-lg 
}

.caption{
  @apply text-gray-400 dark:text-gray-600 w-full
}

.cardBtn{
  @apply bg-black dark:bg-white
}

.cardBtnText{
  @apply text-white dark:text-black py-1 px-4 rounded-full
}

.cardProduct{
  @apply text-black dark:text-white w-full
}

.quote{
  @apply text-black dark:text-white text-2xl md:text-4xl lg:text-6xl font-normal 
}

.bigTitle{
  @apply  text-4xl lg:text-8xl font-medium py-6 text-transparent bg-clip-text bg-gradient-to-t from-neutral-700 to-neutral-300 dark:to-neutral-500
}

.cardDescription{
  @apply flex 
}

.cardContainer{
  @apply py-4
}


.card{
@apply  rounded-lg bg-neutral-100 dark:bg-neutral-900 
}

.footnote{
  @apply text-gray-400 dark:text-gray-600 w-full
}

.subtitle{
  @apply text-black dark:text-white w-full text-3xl py-6 font-bold
}

.heading{
  @apply text-black dark:text-white w-full text-2xl 
}

.footer{
  @apply  bg-transparent p-8  w-full bottom-0 mt-auto font-medium
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
display:flex;
flex-direction:column;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
